.header {
    width: 1800px;
    height: 104px;
    display: block;
    position: fixed;
    z-index: 3;


    nav {
        position: relative;
        margin-top: 15px;
        margin-left: 56px;
        margin-right: 32px;

        a {
            text-decoration: none;
            color: $black;
            font-size: $font-xss;
            line-height: 24px;
            line-height: 24px;
        }
    }


    &__menu {
        background-color: $mainColor;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        margin-left: 16px;

        >span {
            display: block;
            width: 12px;
            height: 2px;
            margin-bottom: 3px;
            position: relative;
            background: white;
            border-radius: 100%;
            left: 30%;
            top: 30%;
        }

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        padding-right: 205px;

        .circle {
            position: relative;
            top: 23%;
            margin: 0px 20px;
            text-align: center;
            width: 8px;
            height: 8px;
            background: $lightGreyOne;
            border-radius: 100px;
        }

        .verticalLine {
            width: 2px;
            height: 32px;
            background-color: $mainColor;
            margin: 16px;
        }
    }

    &__networks {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

        >div {
            margin: auto;
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            position: relative;
            transition: .3s;

            img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                transition: .3s;

            }

            &:hover {
                background-color: $mainColor;
                /* btnShadow */
                box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
                fill: white;
            }

            &:hover img {
                filter: brightness(0) invert(1);
            }

            &:active {
                background: $mainColor;
                box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15), inset 0px 0px 8px rgba(0, 0, 0, 0.15);
            }

        }

        >div:not(:last-child) {
            margin-right: 16px;
        }

    }

    &__dropdown {
        background-color: white;
        width: 122px;
        height: 40px;
        border-radius: 20px;
        position: relative;
        transition: .3s;
        padding: 8px;
        
        >div {
            a {
                content: '';
                position: relative;
                margin-left: 24px;
                background: $lightGreyTwo;
                height: 24px;
                width: 24px;
                border-radius: 50%;
                transition: opacity 0.2s, top 0.2s, right 0.2s;
                svg {
                    stroke: $lightGreyOne;
                    margin:6px;
                    margin-top: 7px;
                }
                &:hover {
                    background: $mainColor;
                    fill: white;
                }
                &:hover svg {
                    filter: brightness(0) invert(1);
                }
            }
            >span {
                margin-left: 10px;
            }
        }
    }
    
}
