.main {
    max-width:1920px;
    margin: 0 auto;
    position: relative;
    
    &__col {
        width: 100%;
    }
        
    &__container {
        position: absolute;
        width: 1800px;
        height: 960px;
        @include breakpoint-down(medium) {
            width: 704px;
            height: 432px;
            margin-right: 32px;
        }
        @include breakpoint-down(small) {
            width: 248px;
            height: 248px;
        }

        .logo {
            position: absolute;
            top: 167px;
            bottom: 167px;
            left: 37px;
            width: 626px;
            height: 626px;
            opacity: 0.25;
            z-index: -1;
            stroke-width: 2px;
            box-shadow: inset -3px 3px 4px rgba(255, 255, 255, 0.2);
            filter: drop-shadow(8px -8px 10px rgba(255, 255, 255, 0.07)) drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.25)) drop-shadow(-30px 30px 30px rgba(0, 0, 0, 0.2)) drop-shadow(-45px 45px 70px rgba(83, 12, 12, 0.2));

            @include breakpoint-up(medium);
            @include breakpoint-down(medium) {
                width: 304px;
                height: 304px;
                top: 96px;

                >svg {
                    width: 304px;
                    height: 304px;
                }
            }
            @include breakpoint-down(small) {
                width: 218px;
                height: 247px;
          

                >svg {
                    width: 218px;
                    height: 247px;
                }
            }
        }
    }

    &__headline {
        display: flex;
        justify-content: space-between;
        margin-top: 250px;
        @include breakpoint-up(medium);

        @include breakpoint-down(medium) {
            margin-top: 104px;
        }
        @include breakpoint-down(small) {
            margin-top: 60px;
        }

        button {
            margin-top: 40px;
            @include breakpoint-up(medium);

            @include breakpoint-down(medium) {
                margin-top: 24px;
            }
            @include breakpoint-down(small) {
                margin-top: 16px;
            }
        }

    }

    &__text {
        position: absolute;
        width: 800px;
        height: 404px;
        margin-left: 56px;
        @include breakpoint-up(medium);

        @include breakpoint-down(medium) {
            width: 432px;
            height: 280px;
            margin-left: 32px;
        }
        @include breakpoint-down(small) {
            width: 248px;
            height: 248px;
            margin-left: 16px;
        }

        h1 {
            font-style: normal;
            margin: 0;
            /* or 125% */
            letter-spacing: 0.05em;
            @include breakpoint-down(small) {
                font-size: $font-xs;
                line-height: 32px;
            }
        }

        p {
            width: 600px;
            height: 108px;
            margin: 0;
            margin-top: 32px;
            @include breakpoint-up(medium);

            @include breakpoint-down(medium) {
                margin-top: 16px;
                width: 360px;
                height: 96px;
            }
            @include breakpoint-down(small) {
                margin-top: 10px;
                width: 248px;
                height: 80px;
            }


        }

        .special {
            width: 222px;
            height: 64px;
            background: white;
            box-shadow: 0px 8px 16px rgba(116, 115, 115, 0.15);
            border-radius: 12px;
            color: black;
            margin-left: 24px;
            @include breakpoint-up(medium);
            @include breakpoint-down(medium) {
                width: 191px;
                height: 48px;
                margin-left: 16px;
            }
            @include breakpoint-down(small) {
                width: 140px;
                height: 36px;
                margin-left: 0;
                margin-bottom: 24px;
                border-radius: 8px;
            }
        }

    }

    &__picture img {
        margin-top: 20px;
        margin-right: 56px;
        @include breakpoint-up(medium);

        @include breakpoint-down(medium) {
            width: 324px;
            height: 192px;
            margin-top: 20px;
            margin-right: 32px;
        }
    }
}
